    /* Colors for profile */
    /* Easy Reset */
    
    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        width: 60%;
        font-size: 24px;
        text-align: left;
        list-style-type: none;
        text-emphasis-color: none;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        float: inline-end;
        margin-right: 20%;
        padding: 2px 2px 2px 0px;
        border: 10px;
        position: sticky;
    }
    
    body {
        background-image: url("./Assets/Images/newricepaper.png");
        padding: 0;
        height: 100%;
        margin: 0%;
    }
    
    .stickyHeader {
        position: sticky;
        background-color: #ffffff;
        margin-bottom: -20px;
        top: 0;
        height: 100px;
        width: 100%;
        padding-bottom: 1%;
    }
    
    .stickyFooter {
        text-align: center;
        height: 30px;
        position: sticky;
        margin-top: -30px;
        bottom: 0;
        background-color: #666666;
        background-position: fixed bottom;
        border-top: 5px solid teal;
        width: 100%;
    }
    
    .contentBox {
        text-align: left;
        width: 300px;
        margin-left: 20%;
        height: 65px;
        margin-top: -40px;
        padding-top: 90px;
        padding-bottom: 0;
        background-color: teal;
    }
    
    .contentBox2 {
        height: auto;
    }
    
    .myImage {
        float: left;
        margin: 5px;
        height: 200px;
        width: 200px;
    }
    
    .bioText {
        position: relative;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: inline-block;
    }
    
    .navigationLinks {
        display: inline-flex;
        float: right;
        padding-right: 25%;
        text-align: center;
        margin-top: -70px;
        text-decoration: none;
        word-spacing: 1px;
        text-emphasis: none;
    }
    
    .container {
        box-sizing: border-box;
        width: 960px;
        height: auto;
        margin: 5% 20%;
        padding: 10px 10px 50px 10px;
        border: 0px;
        background-color: #ffffff;
    }
    
    .imageContainer {
        margin: 20px;
        display: inline-block;
    }
    
    .images {
        margin: 2px;
        width: 250px;
        height: 250px;
    }
    
    .imageText {
        background-color: #4aaaa5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: white;
        width: 250px;
        height: 50px;
        position: relative;
        bottom: 100px;
        left: 2px;
        font-size: 1em;
        padding: 25px 0px 0px 0px;
    }